PORT=10000
API_KEY=change-me
TERABOX_NDUS=
TERABOX_JSTOKEN=
TERABOX_APP_ID=250528
TERABOX_BDSTOKEN=
TERABOX_BROWSER_ID=
TERABOX_BASE_URL=https://www.1024terabox.com
TERABOX_UPLOAD_URL=https://c-jp.1024terabox.com
REQUEST_TIMEOUT_MS=60000
CHUNK_SIZE=16777216
UPLOAD_LIMIT_BYTES=10737418240
